h1, h2, h3, h4, #toctitle {
  font-family: sans-serif;
  font-weight: bold !important;
}

html, body, [data-id="toc"] ul {
  font-family: sans-serif !important;
}

/* disable zebra stripes */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: unset
}

@page:left {
  @bottom-right {
    content: "Page " counter(page);
  }
}

@page:right {
  @bottom-left {
    content: "Page " counter(page);
  }
}

/* logo on frontpage */
@page :first {
  background-size: 25%;
  background-position: 35% 50%;
  background-repeat: no-repeat;
  background-image: url("./img/app.svg");
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}